.main-page {
  width: 700px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0px;
  display: flex;
  justify-content: space-between
}

.list-container {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.list-item {
  width: 200px;
  padding: 5px 10px;
  border: 1px solid #a1a1a1;
}

.list-item:nth-child(n + 2) {
  margin-top: 5px;
}

.hidden {
  visibility: hidden;
}

.details-container {
  width: 300px;
}

.details {
  box-sizing: border-box;
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #a1a1a1;
}

.main {
  font-weight: bold;
}